@page
@model Workshop.App.Pages.BlogModel

<h1>Showing @Model.BlogEntries.Count() blog(s)</h1>
@foreach (var blog in Model.BlogEntries)
{
    <div class="border-dark mt-2">        
        <vc:blog blog="blog"></vc:blog>
    </div>
}
